<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Salsa20.Stream.Console.Salsa20Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Salsa20.Stream.Console.Salsa20" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Salsa20.Stream.Console.Salsa20Settings>
            <setting name="Key" serializeAs="String">
                <value>Salsa20Key</value>
            </setting>
            <setting name="Vector" serializeAs="String">
                <value>1234567890</value>
            </setting>
        </Salsa20.Stream.Console.Salsa20Settings>
        <Salsa20.Stream.Console.Salsa20>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Vector" serializeAs="String">
                <value />
            </setting>
        </Salsa20.Stream.Console.Salsa20>
    </userSettings>
</configuration>